<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Featured"></Label>
</ActionBar>

<GridLayout columns="auto, * , auto" rows="auto, 25" verticalAlignment="top"
backgroundColor="lightgray">
    <image src="/icon.jpg" rowSpan="2"  widht="72"  height="72" 
    margin="3"  verticalAlignment="top"
    ></image>
    <Label  text=" Excelente hotel!" textWrap="true" col="1"
    colSpan="2" minHeight="50"  fontSize="20"  margin="3"
    ></Label>
    <Label  text=" Usuario: Alexis Bueno"  col="1"  row="1" verticalAlignment="bottom" 
    horizontalAlignment="left"  fontSize="14"  margin="3"
    ></Label>
    <Label  text=" Puntaje: 4.3"  col="2"  row="1" verticalAlignment="bottom" 
    fontSize="14"  margin="3" color="#10C2B0"
    ></Label>
</GridLayout>